*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bgImage{
   background-color: lightgray;
    width: 100%;
    height: 570px;
}
.bgImage> h1{
    text-align: center;
    padding-top: 10%;
}
.bgImage> p{
    width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}
